@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 83, 207);
}
h1 {
    color: white;
}
h1#principal { 
    text-align: center;
    background-color: rgb(55, 95, 226);
    /* 
    em HTML id    = em CSS é # (só pode um id por documento HTML (página)
    em HTML class = em CSS é . (pode mais de um class por documento HTML */
} 
h2 {
    color: rgb(143, 165, 236); 
    text-indent: 15px;
}
.basico {
    color: rgb(96, 219, 133);
}
.intermediario {
    color: rgb(219, 219, 100);
}
.avancado {
    color: rgb(216, 106, 106);
}
p {
    font-weight: bold;
}
.destaque {
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.637);
}