@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

:root {
    --color01: Verdana, Geneva, Tahoma, sans-serif;
    --color02: 'Passion One', cursive, Helvetica, sans-serif;
    --color03: 'Sriracha', cursive, sans-serif;
}

header, footer{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-size: 7.5vw;
    font-family: var(--color02);
    font-variant: small-caps;
}

header > p {
    font-size: 20px;
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 3vw;
    line-height: 1.5em;

}

section > p {
    padding-bottom: 1em;
    font-family: var(--color03);
}

section.normal {
    background-color: white;
    color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

section.imagem {
    box-shadow: inset 5px 5px 13px 0px rgba(0, 0, 0, 0.39);
    background-color: rgba(0, 0, 0, 0.493);
}

section.imagem > p {
    display: inline-block;
    padding: 7px;
    color: white;
    background-color: rgba(0, 0, 0, 0.336);
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

section#img01 {
    background-image: url("../imagens/background001.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section#img02 {
    background-image: url("../imagens/background002.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

footer {
    padding: 10px;
}